In [7]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('country.csv')
data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

##  Country.csv dosyasının özelliği
Bu tablo, çeşitli ülkelerle ilgili bir dizi demografik, ekonomik ve coğrafi veriyi içermektedir. Tabloda her bir satır bir ülkeyi temsil ederken, sütunlar bu ülkelerle ilgili farklı özellikleri gösterir. İşte sütunların anlamları:

Country: Ülkenin adı.  
Region: Ülkenin bulunduğu bölge (örneğin, Asya, Doğu Avrupa).  
Population: Ülkenin toplam nüfusu.  
Area (sq. mi.): Ülkenin yüzölçümü (mil kare olarak).  
Pop. Density (per sq. mi.): Nüfus yoğunluğu (mil kare başına düşen kişi sayısı).  
Coastline (coast/area ratio): Sahil uzunluğunun, ülkenin toplam alanına oranı.  
Net migration: Net göç oranı (göçmenlerin ülkeye giren veya ülkeden çıkan kişi sayısına göre oranı).  
Infant mortality (per 1000 births): Bebek ölüm oranı (1000 doğum başına).  
GDP ($ per capita): Kişi başına düşen Gayri Safi Yurtiçi Hasıla (GSYİH).  
Literacy (%): Okur-yazarlık oranı.  
Phones (per 1000): Her 1000 kişi başına düşen telefon sayısı.  
Arable (%): Tarıma elverişli arazi yüzdesi.  
Crops (%): Ekilebilir ürünlerin yüzdesi.  
Other (%): Diğer arazi kullanımı yüzdesi.  
Climate: Ülkenin iklim kategorisi (numerik bir değer olarak gösterilmiş).  
Birthrate: Doğum oranı.  
Deathrate: Ölüm oranı.  
Agriculture: Tarım sektörünün ekonomideki payı.  
Industry: Sanayi sektörünün ekonomideki payı.  
Service: Hizmet sektörünün ekonomideki payı.

## 1. Görev : Nüfusa Göre Azalan Sırada Sıralama:

In [ ]:
# sort_values(): DataFrame'i belirtilen sütuna göre sıralar
# ascending=False: Büyükten küçüğe (azalan) sıralama yapar
# head(10): İlk 10 satırı getirir

azalan_sira= data.sort_values(by='Population', ascending=False)
print(azalan_sira[['Country', 'Population']].head(10))  # İlk 10 ülkeyi göster

            Country  Population
42           China   1313973713
94           India   1095351995
214  United States    298444215
95       Indonesia    245452739
27          Brazil    188078227
156       Pakistan    165803560
16      Bangladesh    147365352
169         Russia    142893540
152        Nigeria    131859731
103          Japan    127463611

## 2. Görev: GDP per capita sütununa göre ülkeleri artan sırada sıralamak(Kişi başına düşen Gayri Safi Yurtiçi Hasıla).

In [ ]:
# GDP per capita sütununa göre ülkeleri artan sırada sıralamak(Kişi başına düşen Gayri Safi Yurtiçi Hasıla). kodunu buradan yazınız.

# ascending=True: Küçükten büyüğe (artan) sıralama yapar
# GDP değeri en düşük olan ülkeler başta gelir


gdp_artan = data.sort_values(by='GDP ($ per capita)', ascending=True)
print(gdp_artan[['Country', 'GDP ($ per capita)']].head(10))  # İlk 10 ülkeyi göster

               Country  GDP ($ per capita)
58         East Timor                500.0
183      Sierra Leone                500.0
188           Somalia                500.0
33            Burundi                600.0
125            Malawi                600.0
200          Tanzania                600.0
74         Gaza Strip                600.0
44            Comoros                700.0
45   Congo, Dem. Rep.                700.0
65           Ethiopia                700.0

## 3. Görev: Population sütunu 10 milyonun üzerinde olan ülkeleri seçmek.

In [ ]:
# data[koşul]: Koşulu sağlayan satırları filtreler
# data['Population'] > 10000000: Nüfusu 10 milyondan büyük olanları seçer
on_milyon_ustu_nufus = data[data['Population'] > 10000000]
# len(): Kaç satır olduğunu sayar
print(f"Toplam {len(on_milyon_ustu_nufus)} ülke bulundu.")
# to_string(): Tüm satırları kısaltmadan gösterir
print(on_milyon_ustu_nufus[['Country', 'Population']].to_string())

Toplam 79 ülke bulundu.
               Country  Population
0         Afghanistan     31056997
2             Algeria     32930091
5              Angola     12127071
8           Argentina     39921833
11          Australia     20264082
16         Bangladesh    147365352
18            Belarus     10293011
19            Belgium     10379067
27             Brazil    188078227
31       Burkina Faso     13902972
32              Burma     47382633
34           Cambodia     13881427
35           Cameroon     17340702
36             Canada     33098932
41              Chile     16134219
42              China   1313973713
43           Colombia     43593035
45   Congo, Dem. Rep.     62660551
49      Cote d'Ivoire     17654843
51               Cuba     11382820
53     Czech Republic     10235455
59            Ecuador     13547510
60              Egypt     78887007
65           Ethiopia     74777981
69             France     60876136
76            Germany     82422299
77              Ghana     22409572
79             Greece     10688058
84          Guatemala     12293545
94              India   1095351995
95          Indonesia    245452739
96               Iran     68688433
97               Iraq     26783383
101             Italy     58133509
103             Japan    127463611
106        Kazakhstan     15233244
107             Kenya     34707817
109      Korea, North     23113019
110      Korea, South     48846823
124        Madagascar     18595469
125            Malawi     13013926
126          Malaysia     24385858
128              Mali     11716829
135            Mexico    107449525
141           Morocco     33241259
142        Mozambique     19686505
145             Nepal     28287147
146       Netherlands     16491461
151             Niger     12525094
152           Nigeria    131859731
156          Pakistan    165803560
161              Peru     28302603
162       Philippines     89468677
163            Poland     38536869
164          Portugal     10605870
168           Romania     22303552
169            Russia    142893540
179      Saudi Arabia     27019731
180           Senegal     11987121
189      South Africa     44187637
190             Spain     40397842
191         Sri Lanka     20222240
192             Sudan     41236378
197             Syria     18881361
198            Taiwan     23036087
200          Tanzania     37445392
201          Thailand     64631595
205           Tunisia     10175014
206            Turkey     70413958
210            Uganda     28195754
211           Ukraine     46710816
213    United Kingdom     60609153
214     United States    298444215
216        Uzbekistan     27307134
218         Venezuela     25730435
219           Vietnam     84402966
224             Yemen     21456188
225            Zambia     11502010
226          Zimbabwe     12236805

## 4. Görev: Literacy (%) sütununa göre ülkeleri sıralayıp, en yüksek okur-yazarlık oranına sahip ilk 5 ülkeyi seçmek.

In [ ]:
# ascending=False: Yüksekten düşüğe sıralar
# head(5): En üstteki 5 ülkeyi alır (en yüksek okur-yazarlık oranına sahip olanlar)

okur_yazar = data.sort_values(by='Literacy (%)', ascending=False).head(5)
print(okur_yazar[['Country', 'Literacy (%)']])

             Country Literacy (%)
53   Czech Republic          99,9
93          Iceland          99,9
163          Poland          99,8
114          Latvia          99,8
64          Estonia          99,8

## 5. Görev:  Kişi Başı GSYİH 10.000'in Üzerinde Olan Ülkeleri Filtreleme: GDP ( per capita) sütunu 10.000'in üzerinde olan ülkeleri seçmek.

In [ ]:
# > 10000: 10.000'den büyük değerleri filtreler
# Zengin ülkeleri (yüksek GSYİH'lı) seçer

gdp_onk_ustu = data[data['GDP ($ per capita)'] > 10000]
print(f"Toplam {len(gdp_onk_ustu)} ülke bulundu.")
print(gdp_onk_ustu[['Country', 'GDP ($ per capita)']].to_string())

Toplam 76 ülke bulundu.
                   Country  GDP ($ per capita)
4                 Andorra              19000.0
7       Antigua & Barbuda              11000.0
8               Argentina              11200.0
10                  Aruba              28000.0
11              Australia              29000.0
12                Austria              30000.0
14           Bahamas, The              16700.0
15                Bahrain              16900.0
17               Barbados              15700.0
19                Belgium              29100.0
22                Bermuda              36000.0
28     British Virgin Is.              16000.0
29                 Brunei              18600.0
36                 Canada              29800.0
38         Cayman Islands              35000.0
50                Croatia              10600.0
52                 Cyprus              19200.0
53         Czech Republic              15700.0
54                Denmark              31100.0
64                Estonia              12300.0
66          Faroe Islands              22000.0
68                Finland              27400.0
69                 France              27600.0
71       French Polynesia              17500.0
76                Germany              27600.0
78              Gibraltar              17500.0
79                 Greece              20000.0
80              Greenland              20000.0
83                   Guam              21000.0
85               Guernsey              20000.0
91              Hong Kong              28800.0
92                Hungary              13900.0
93                Iceland              30900.0
98                Ireland              29600.0
99            Isle of Man              21000.0
100                Israel              19800.0
101                 Italy              26700.0
103                 Japan              28200.0
104                Jersey              24800.0
110          Korea, South              17800.0
111                Kuwait              19000.0
114                Latvia              10200.0
119         Liechtenstein              25000.0
120             Lithuania              11400.0
121            Luxembourg              55100.0
122                 Macau              19400.0
129                 Malta              17700.0
131            Martinique              14400.0
133             Mauritius              11400.0
138                Monaco              27000.0
146           Netherlands              28600.0
147  Netherlands Antilles              11400.0
148         New Caledonia              15000.0
149           New Zealand              21600.0
153    N. Mariana Islands              12500.0
154                Norway              37800.0
155                  Oman              13100.0
163                Poland              11100.0
164              Portugal              18000.0
165           Puerto Rico              16800.0
166                 Qatar              21500.0
177            San Marino              34600.0
179          Saudi Arabia              11800.0
184             Singapore              23700.0
185              Slovakia              13300.0
186              Slovenia              19000.0
189          South Africa              10700.0
190                 Spain              22000.0
195                Sweden              26800.0
196           Switzerland              32700.0
198                Taiwan              23400.0
212  United Arab Emirates              23200.0
213        United Kingdom              27700.0
214         United States              37800.0
215               Uruguay              12800.0
220        Virgin Islands              17200.0

## Görev 6 : En Yüksek Nüfus Yoğunluğuna Sahip İlk 10 Ülkeyi Seçme:
Pop. Density (per sq. mi.) sütununa göre ülkeleri sıralayıp, en yüksek nüfus yoğunluğuna sahip ilk 10 ülkeyi seçmek.

In [ ]:
# Pop. Density sütununa göre azalan sırada sıralar
# head(10): En kalabalık 10 ülkeyi seçer

nufus_yogunluk = data.sort_values(by='Pop. Density (per sq. mi.)', ascending=False).head(10)
print(nufus_yogunluk[['Country', 'Pop. Density (per sq. mi.)']])

         Country Pop. Density (per sq. mi.)
9       Armenia                        99,9
186    Slovenia                        99,2
202        Togo                        97,7
12      Austria                        97,7
168     Romania                        93,9
77        Ghana                        93,6
140  Montserrat                        92,5
13   Azerbaijan                        91,9
56     Dominica                        91,4
206      Turkey                        90,2